* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }
  *:before, *:after {
    box-sizing: border-box; }

body {
  font-family: 'Agne';
  -ms-touch-action: none;
  touch-action: none; }

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit; }
  a:hover, a:focus, a:active {
    outline: 0; }

img {
  max-width: 100%;
  vertical-align: middle;
  height: auto; }

input[type='text']:focus::-webkit-input-placeholder,
input[type='tel']:focus::-webkit-input-placeholder,
input[type='email']:focus::-webkit-input-placeholder,
input[type='password']:focus::-webkit-input-placeholder,
input[type='search']:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: transparent !important; }
input[type='text']:focus::-moz-placeholder,
input[type='tel']:focus::-moz-placeholder,
input[type='email']:focus::-moz-placeholder,
input[type='password']:focus::-moz-placeholder,
input[type='search']:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  color: transparent !important; }
input[type='text']:focus:-moz-placeholder,
input[type='tel']:focus:-moz-placeholder,
input[type='email']:focus:-moz-placeholder,
input[type='password']:focus:-moz-placeholder,
input[type='search']:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
  color: transparent !important; }
input[type='text']:focus:-ms-input-placeholder,
input[type='tel']:focus:-ms-input-placeholder,
input[type='email']:focus:-ms-input-placeholder,
input[type='password']:focus:-ms-input-placeholder,
input[type='search']:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
  color: transparent !important; }

@font-face {
  font-family: 'sansRegular';
  src: url("./fonts/light.woff2"), url("./fonts/light.woff"); }
@font-face {
  font-family: 'sansLight';
  src: url("./fonts/regular.woff2"), url("./fonts/regular.woff"); }
header {
  width: 100%;
  background-color: #000;
  display: flex; }

.header__logo {
  text-transform: uppercase;
  color: #fff;
  font-weight: 800;
  font-size: 24px;
  font-family: 'sansRegular';
  cursor: pointer;
  margin-top: 56px;
  margin-left: 12%; }

.header__navig {
  margin-top: 56px;
  margin-left: 29%; }
  .header__navig .header__topnav .header__topnav-link {
    color: #fff;
    text-align: center;
    padding: 12px 16px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'sansRegular'; }
    .header__navig .header__topnav .header__topnav-link:hover {
      border-bottom: 3px solid #fcac45; }
  .header__navig .header__topnav .icon {
    color: #fff;
    float: right;
    display: none; }

@media screen and (max-width: 1020px) {
  .header__navig {
    margin-left: 20%; } }
@media screen and (max-width: 1150px) {
  .header__navig {
    margin-left: 20%; } }
@media screen and (max-width: 1010px) {
  .header__navig {
    width: 100%; }
    .header__navig .header__topnav .header__topnav-link {
      display: none; }
    .header__navig .header__topnav .icon {
      display: block;
      color: #fcac45;
      float: right;
      margin-top: -17px;
      font-size: 29px; }
      .header__navig .header__topnav .icon:hover {
        border-bottom: 3px solid #fcac45; }
    .header__navig .responzive {
      position: relative;
      top: 50px;
      left: -200px;
      height: 340px;
      height: 340px; } }
main {
  display: flex;
  flex-direction: column;
  width: 100%; }

.main-welcome {
  background-color: #000;
  text-align: center;
  padding: 200px 0 410px; }
  .main-welcome .main-welcome__header {
    color: #fff;
    font-size: 44px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'sansLight'; }
  .main-welcome .mycompany {
    color: #fcac45; }
  .main-welcome .main-welcome__par {
    color: #999999;
    font-size: 20px;
    font-family: 'sansRegular'; }

/*# sourceMappingURL=style.css.map */
