@import './scss/base/base';
@import './scss/base/fonts';
// HEADER
header{
  width: 100%;
  background-color: #000;
  display: flex;
}

.header__logo {
  text-transform: uppercase;
  color: #fff;
  font-weight: 800;
  font-size: 24px;
  font-family: 'sansRegular';
  cursor: pointer;
  margin-top: 56px;
  margin-left: 12%;
}

.header__navig {
  margin-top: 56px;
  margin-left: 29%;

  .header__topnav {

    .header__topnav-link {
      color: #fff;
      text-align: center;
      padding: 12px 16px;
      font-size: 14px;
      font-weight: bold;
      font-family: 'sansRegular';
      &:hover {
        border-bottom: 3px solid #fcac45;
      }
    }
    .icon {
      color: #fff;
      float: right;
      display: none;
    }
  }
}

@media screen and (max-width: 1020px) {
  
  .header__navig {
    margin-left: 20%;
  }
}
@media screen and (max-width: 1150px) {
  .header__navig {
    margin-left: 20%;
  }
}
@media screen and (max-width: 1010px) {
  .header__navig {  
  .header__topnav {
      .header__topnav-link {
        display: none;
      }
      .icon {
        float: right;
        margin-top: -17px;
        display: block;
        color: #fff;
        font-size: 25px;
      }
    }
  }
}

// MAIN WELCOME
main {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.main-welcome {
  background-color: #000;
  text-align: center;
  padding: 200px 0 410px;

  .main-welcome__header {
    color: #fff;
    font-size: 44px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'sansLight';
  }
  .mycompany {
    color: #fcac45;

  }

  .main-welcome__par {
    color: #999999;
    font-size: 20px;
    font-family: 'sansRegular';
    
  }
}

@media screen and (max-width: 1010px) {
  .main-welcome {
    padding: 50px 0 50px 0;
    .main-welcome__header {
      font-size: 25px;
    }
    .main-welcome__par {
      font-size: 14px;
    }
  }
}

// MAIN ABOUT
.main-wrapper {
  width: 76%;
  margin: 0 auto;

  .main__about {
    display: flex;
    padding: 100px 0 100px 0;
  }
  .main__about-left-img {
    min-width: 100%;
  }
  .main__about-right {
    margin-left: 175px;
    text-align: left;

    .main__about-header {
      display: inline-block;
      color: #222222;
      font-size: 34px;
      text-align: center;
      font-family: 'sansLight';
      text-transform: uppercase;
      letter-spacing: -0.68px;
      padding-bottom: 10px;
      border-bottom: 4px solid #fcac45;
    }

    .main__about-txt {
      color: #6c6c6c;
      font-family: "Open Sans";
      font-size: 18px;
      font-weight: 400;
      line-height: 25px;
      letter-spacing: -0.72px;
      padding-top: 31px;
    }
    .main__about-navig {
      padding-top: 34px;

      .main__about-list {
        list-style: none;
        margin-top: 10px;
        padding-left: 25px;
        background: url(icon/mark.png) 0px no-repeat;
      }
    }
  }
}

@media screen and (max-width: 1010px) {
  .main__about {
    flex-direction: column;
    .main__about-left-img {
      max-width: 100%;
    }
    .main__about-right {
      padding-top: 10px;
      margin: 0 auto;
      text-align: center;
      .main__about-header {
        font-size: 20px;
      }
      .main__about-list {
        text-align: left;
      }
    }
  }
}

// MAIN CARD
.main__team {
  background-color: #000;
  text-align: center;
  padding: 100px 0 165px 0;
  color: #fff;

  .main__team-cards {
    display: flex;
    padding: 0 140px 0 140px;

  }

  .main__team-logo {
    font-family: 'sansRegular';
    font-size: 44px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    padding-bottom: 30px;
  }

  .main__line {
    width: 100px;
    height: 3px;
    background-color: #fcac45;
    display: inline-block;
    text-align: center;
    margin-bottom: 107px;
  }

  .main__card-photo {
    background-color: #d7d7d7;
    width: 128px;
    height: 127px;
    border-radius: 50%;
    margin: 20px auto;
  }

  .main__card-name {
    color: #fff;
    font-family: 'sansLight';
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    padding-bottom: 15px;
  }

  .main__card-position {
    color: #fff;
    font-family: 'sansLight';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 35px;
  }

  .main__card-description {
    padding: 18px;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
  }
}

@media screen and (max-width: 1010px) {
  .main__team {
    .main__line {
      margin-bottom: 31px;
    }
     .main__team-cards {
       flex-direction: column;
       .main__cards {
         margin: 0 40px;
        .main__card-position {
          padding-bottom: 20px;
        }
        .main__card-photo {
          margin-top: 0;
        }
        .main__card-description {
          margin: 0 auto;
          padding: 0 50px 50px 50px;
          font-size: 16px;
        }
      }
    }
  }
}



























