@font-face {
  font-family: 'RegularWeb';
  src: url('../fonts/webregular/regular-web.woff2'),
       url('../fonts/webregular/regular-web.woff');
}

@font-face {
  font-family: 'BoldWeb';
    src: url('../fonts/webbold/web-bold.woff2'),
    url('../fonts/webbold/web-bold.woff');
}