@font-face {
  font-family: 'sansRegular';
  src: url('./fonts/light.woff2'),
       url('./fonts/light.woff');
}

@font-face {
  font-family: 'sansLight';
    src: url('./fonts/regular.woff2'),
    url('./fonts/regular.woff');
}