
@media screen and (max-width: 1010px) {
  
  .header__topnav-link {
    display: none;
  }
  
  .icon {
    display: block !important;      
    color: #fcac45;
    float: right; 
    margin-top: -17px;
    font-size: 29px;
    &:hover {
      border-bottom: 3px solid #fcac45;
    }
  }
}